.dark-background {
  background-color: #4b5563;
}

.light-background {
  background-color: #ffff;
}

.app {
  font-family: "Roboto";
  overflow: auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}
